 <link rel="stylesheet" href="/css/home.css" type="text/css">

<!-- HEADER -->


<!-- FEATURES -->

<div style="height: 100%;" class="row align-items-center ">
  <div  class=" feature col-md-4 ">
    <div  class="feature-icon bg-primary bg-gradient">
      <i class="bi-github" role="img" aria-label="GitHub"></i>
    </div>
    <h2>In Github</h2>
    <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
    <a href="#" class="icon-link">
      Call to action
      <i class="bi bi-chevron-right" role="img" aria-label="chevron-right"></i>
    </a>
  </div>
  <div class="feature col-md-4 ">
    <div class="feature-icon text-center bg-primary bg-gradient">
      <i class="bi-alarm-fill " role="img" aria-label="alarm-fill"></i>
    </div>
    <h2>Save Time</h2>
    <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
    <a href="#" class="icon-link">
      Call to action
      <i class="bi bi-chevron-right" role="img" aria-label="chevron-right"></i>
    </a>
  </div>
  <div class="feature col-md-4">
    <div class="feature-icon bg-primary bg-gradient">
      <i class="bi-bootstrap-fill" role="img" aria-label="bootstrap-fill"></i>
    </div>
    <h2>Using Bootstrap</h2>
    <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
    <a href="#" class="icon-link">
      Call to action
      <i class="bi bi-chevron-right" role="img" aria-label="chevron-right"></i>
    </a>
  </div>
</div>
    




