
<!DOCTYPE html>
<html lang="en">
  
<!-- HEAD -->
{{> header }}

  <!-- BODY -->
  <body>
    <!-- Fixed top NAVBAR -->
      {{> navbar }}
      <!-- NOTIFICATIONS -->
      {{> notifications }}

      <main role="main"></main>
        {{{body}}}
      </main>

      <!-- FOOTER -->
      {{> footer }}
  </body>
</html>