<!DOCTYPE html>

<html lang="en">
  <!-- HEAD -->
  {{> head }}

  <body class="body">
    <div class="container fullpage" id="full page">
      <!-- Navbar -->
      {{> navbar }}
      <!-- NOTIFICATIONS -->
      {{> notifications }}
      <!-- MAIN CONTENT -->
      {{{body}}}
      <!-- FOOTER -->
      {{> footer }}
    </div>
  </body>
</html>