
<!DOCTYPE html>
<html lang="en">
  
<!-- HEAD -->
{{> wfheader }}

  <!-- BODY -->
  <body>
    <!-- Fixed top NAVBAR -->
      {{> wfnavbar }}
      <!-- NOTIFICATIONS -->
      {{> wfnotification }}

      <main role="main"></main>
        {{{body}}}
      </main>

      <!-- FOOTER -->
      {{> wffooter }}
  </body>
</html>