html {
  height: 100%;
}

body {
  height: 100%;
  padding-top: 70px;
  padding-bottom: 60px;
  min-width:375px;
  -ms-flex-align: center;
  align-items: center;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  opacity: 0.8;
}

.navbar-light {
  border-bottom: 1px solid #5cb85c;
}

.footer {
  position: fixed;
  bottom: 0;
  padding-left: 1rem;
  width: 100%; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

/* Primary button color green */
.btn-primary {
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075); }
  .btn-primary:hover {
    color: #fff;
    background-color: #48a648;
    border-color: #449d44; }

    .btn-outline-primary {
      color: #5cb85c;
      background-color: transparent;
      background-image: none;
      border-color: #5cb85c; }
      .btn-outline-primary:hover {
        color: #fff;
        background-color: #5cb85c;
        border-color: #5cb85c; }
      .btn-outline-primary:focus, .btn-outline-primary.focus {
        box-shadow: 0 0 0 0.2rem rgba(92, 184, 92, 0.5); }
      .btn-outline-primary.disabled, .btn-outline-primary:disabled {
        color: #5cb85c;
        background-color: transparent; }

        .nav-link, .nav-link:hover  {
          display: block;
          color: #6c757d;}
          .nav-link:hover, .nav-link:focus {
            text-decoration: none; }
          .nav-link.disabled {
            color: #6c757d; }