  
  
<!-- Notifications -->
<div style=" all: initial; margin-top: 16px; width: 100%; position: fixed;" class="container ">
    <div class="row mx-5">
        <div class="col-md-12">
            <div class="text-center">
                {{#if success_msg}}
                <div class="alert alert-success alert-dismissible fade show" role="alert">{{success_msg}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                {{/if}} 
                {{#if error_msg}}
                <div class=" alert alert-danger alert-dismissible fade show" role="alert">{{error_msg}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                {{/if}} 
            </div>
        </div>
    </div>
</div>